{{> head}}
{{> navbar}}


<div class="row">
   <div class="col-8">
       <h1>SponjeBob</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam alias, totam voluptate excepturi voluptates incidunt quas culpa eum fuga. Laborum aperiam repellendus perspiciatis aspernatur quos cum adipisci eveniet distinctio facere!</p>
   </div>
   <div class="col-4">
       <img src="asset/img/1.jpg" alt="img-thumbnail" width="300" height="200">
   </div>
</div>
   


 {{> footer}}